
body {
    font-family: 'Montserrat', sans-serif;
}
ul{
	list-style-type: none;
}

.emojiList{
	display: flex;
	flex-wrap: wrap;
}

.emojiList li{
	width: 100px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
}

.emojiList li:hover{
	background-color: #D3D3D3;
}

.emojiList li span{
	display: block;
}

.emoji{
	font-size: 24px;
}

.emojiName{
	font-size: 12px;
}