
body {
    font-family: 'Montserrat', sans-serif;
}
ul{
	list-style-type: none;
}

.emojiList{
    height: 50%;
    overflow: auto;
}

ul{
	display: flex;
	flex-wrap: wrap;
}

li{
	width: 100px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
}

li:hover{
	background-color: #D3D3D3;
}

li span{
	display: block;
}

.emoji{
	font-size: 24px;
}

.emojiName{
	font-size: 12px;
}